{% extends 'ajax.html.twig' %}

{% block content %}
    <h4 class="ui horizontal divider header">Sets</h4>
    <div class="ui seven column grid">
        <div class="row">
            {% for set in inventorySets %}
                <div class="column">
                    <a href="{{ url('set_detail', {'number': set.set.number}) }}">
                        <div class="ui bordered image medium">
                            <img src="{{ asset('resources/images/unknown_image.png') }}" data-src="{{ set.set.number|setImage|imagine_filter('rebrickable_set_min') }}" class="transition visible">
                        </div>
                        <p>{{ set.set.number }} - {{ set.set.name }}</p>
                        <p>{{ set.quantity}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}