{% extends 'base.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block title %}{{ part.id }} - {{ part.name }}{% endblock %}

{% block header %}{{ part.name }}{% endblock %}

{% block meta %}
    {{ blocks.meta(
    part.id ~' '~ part.name,
    app.request.uri,
    'meta.description' | trans | striptags('sup'),
    asset('-1/'~part.id~'.png') | imagine_filter('part_large')
    )}}
{% endblock %}

{% block content %}
    <div class="ui vertical segment grey inverted tertiary">
        <div class="ui container stackable grid">
            <div class="column ten wide">
                <div id="model-viewer" class="model-container">
                    {{ blocks.partImage(part.id,'part_large') }}
                </div>
            </div>
            <div class="column six wide">
                <div class="item-info ui">
                    <table class="ui very basic table">
                        <tr>
                            <td>{{ 'part.id' | trans }}</td><td><h2>{{ part.id}}</h2></td>
                        </tr>
                        <tr>
                            <td>{{ 'part.name' | trans }}</td><td>{{ part.name}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'part.category' | trans }}</td><td>{{ part.category ? part.category.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'part.model' | trans }}</td>
                            <td>
                                {% if part.model %}
                                    <a href="{{ url('model_detail', {'id': part.model.id})}}">{{ part.model.id }}</a>
                                {% endif %}
                            </td>
                        </tr>
                        {#{% if apiPart %}#}
                            {#<tr>#}
                                {#<td>{{ 'part.alternates' | trans }}</td>#}
                                {#<td>#}
                                    {#{% for alternate in apiPart.alternates %}#}
                                        {#<a href="{{ url('part_detail', {'id': alternate})}}">{{ alternate }}</a>#}
                                    {#{% endfor %}#}
                                {#</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>{{ 'part.molds' | trans }}</td>#}
                                {#<td>#}
                                    {#{% for mold in apiPart.molds %}#}
                                        {#<a href="{{ url('part_detail', {'id': mold})}}">{{ mold }}</a>#}
                                    {#{% endfor %}#}
                                {#</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td></td>#}
                                {#<td><a class="rebrickable link" href="{{ apiPart.url }}">Rebrickable</a></td>#}
                            {#</tr>#}
                        {#{% endif %}#}
                    </table>

                    {% if not part.model %}
                        <a class="ui disabled fluid primary button"><i class="download icon"></i> {{ 'model.empty'|trans }}</a>
                    {% else %}
                        <a class="ui fluid primary button" href="{{ path('model_zip', {id: part.model.id}) }}"><i class="download icon"></i> {{ 'model.download'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <div class="ui tabular pointing secondary menu stackable">
            <div class="container ui">
                <a class="item active" data-tab="sets">{{ 'part.sets' | trans }} ({{ setCount }})</a>
            </div>
        </div>

        <div class="container ui">
            <div class="ui tab active" data-tab="sets" >
                {{ render(path('part_sets', { id: part.id, page: app.request.get('page')  })) }}
            </div>
        </div>
    </div>
{% endblock %}
