{% extends 'base.html.twig' %}

{% block body %}

    {{ dump(part) }}

    {{ dump(localPart) }}

    <div id="model" style="height: 300px; width: 300px; padding: 5px; display: inline-block"></div>
    <img src="{{ part.imgUrl }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('resources/js/three.js') }}"></script>

    <script type="text/javascript" src="{{ asset('resources/js/OrbitControls.js') }}"></script>

    <script type="text/javascript" src="{{ asset('resources/js/ModelViewer.js') }}"></script>

    <script type="text/javascript">
        window.onload = function() {
            modelView = new ModelViewer();
            modelView.init('model');
            {% if localPart.model is defined %}
            modelView.loadStl('{{ path('download_model', {'id' : localPart.model.id })}}');
            {% endif %}
            modelView.render();
        };
    </script>
{% endblock %}