{% extends 'base.html.twig' %}

{% block body %}

    {{ dump(part) }}

    <div id="model" style="height: 300px; width: 300px; padding: 5px; display: inline-block"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('resources/js/three.js') }}"></script>

    <script type="text/javascript" src="{{ asset('resources/js/OrbitControls.js') }}"></script>

    <script type="text/javascript" src="{{ asset('resources/js/ModelViewer.js') }}"></script>

    <script type="text/javascript">
        window.onload = function() {
            modelView = new ModelViewer();
            var scene = modelView.initScene($('#model'));
            {% if part.model is not null %}
            modelView.loadStl('{{ path('download_model', {'id' : part.model.id })}}');
            {% endif %}
            modelView.render();
        };
    </script>
{% endblock %}