{% extends 'base.html.twig' %}


{% block body %}
    <h2 style="width: 100%; text-align: center">
        total parts {{ parts.TotalItemCount }}
        <div class="navigation text-center">
            {{ knp_pagination_render(parts) }}
        </div>
    </h2>


    <div style="display: flex; flex-wrap: wrap;">
        {% for part in parts %}
            <div style="display: inline-block; width: 160px; margin: 5px; padding: 5px; border: solid 1px gray;{% if part.sub is defined and not part.sub %}background:red{% endif %}">
                <img src="{{ url('part_image', {id:part.id}) }}" style="max-height: 100px; max-width: 100%">
                <h4><a href="{{ url('part_detail', {id:part.id}) }}">{{ part.id }}</a></h4>
                <p>{{ part.name }}</p>
            </div>
        {% endfor %}
    </div>

    <h2 style="width: 100%; text-align: center">
        <div class="navigation text-center">
            {{ knp_pagination_render(parts) }}
        </div>
    </h2>


{% endblock %}