<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('resources/css/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
        {% block body %}{% endblock %}
        {% block javascripts %}

            <script type="text/javascript" src="{{ asset('resources/js/three.js') }}"></script>

            <script type="text/javascript" src="{{ asset('resources/js/OrbitControls.js') }}"></script>


            <script src="{{ asset('resources/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
