{% extends 'html.html.twig' %}

{% import 'macros/elements.html.twig' as elements %}
{% import 'macros/blocks.html.twig' as blocks %}

{% block body %}
    <div class="ui fixed inverted menu">
        <div class="ui container">
            {{ knp_menu_render('mainMenu') }}

            <div class="right menu">
                <div class="ui search item category right aligned">
                    <div class="ui icon input transparent inverted">
                        <input class="prompt" type="text" placeholder="Search..." >
                        <i class="search icon"></i>
                    </div>
                    <div class="results transition"></div>
                </div>
            </div>
        </div>
    </div>
    {% block page %}
        <div class="ui main">
            <div class="ui container">
                <div class="ui masthead vertical segment">
                    <div class="introduction">
                        <div class="ui small breadcrumb">
                            {% for breadcrumb_item in knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('mainMenu')) %}
                                {% if not loop.last %}
                                    <a class="section" href="{{ breadcrumb_item.uri }}">{{ breadcrumb_item.label }}</a>
                                    <i class="right chevron icon divider"></i>
                                {% else %}
                                    <a class="active section">{{ breadcrumb_item.label }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <h1 class="ui header">{% block header %}{% endblock %}</h1>
                    </div>
                </div>
                <div class="ui vertical segment content">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            {{ elements.flash(label,flash) }}
                        {% endfor %}
                    {% endfor %}

                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock page %}
    <div class="ui black inverted vertical footer segment stripe">
        {% block footer %}
            <div class="ui center aligned container">

            </div>
        {% endblock  %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('.ui.search')
            .search({
                type: 'category',
                apiSettings: {
                    action: 'search',
                    url: '{{ path('search_autocomplete')}}?query={query}',
                },
                minCharacters : 3,
                fields: {
                    title: 'title',
                    url: 'url'
                }
            });
    </script>
{% endblock %}