<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{{ 'meta.description' | trans | striptags('sup') }}">
    {% block meta %}

    {% endblock %}
    <title>{% block title %}{{ name }} - {{ 'meta.description' | trans | striptags('sup') }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ fileTimestamp(asset('resources/css/style.css')) }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="default-theme body pushable">
{% block body %}

{% endblock %}

<script type="text/javascript" src="{{ fileTimestamp(asset('resources/js/style.js')) }}"></script>
<script type="text/javascript">
    var routes = {
        search_autocomplete : "{{ path('search_autocomplete') }}",
        set_tab : "{{ path('set_tab', { 'tab': "PLACEHOLDER" }) }}"
    };
</script>
{% block javascripts %}

{% endblock %}
</body>
</html>
