{% extends 'base.html.twig' %}

{% block body %}
        <div class="ui inverted vertical masthead center aligned segment">

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    {{ knp_menu_render('mainMenu') }}

                    <div class="right menu">
                        <div class="ui search item category right aligned">
                            <div class="ui icon input transparent inverted">
                                <input class="prompt" type="text" placeholder="Search..." >
                                <i class="search icon"></i>
                            </div>
                            <div class="results transition"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui text container">
                <h1 class="ui inverted header">
                    PrintABrick
                </h1>
                <h2>{{ 'homepage.title.text' | trans | raw }}</h2>
            </div>
        </div>

        <div class="ui main vertical stripe quote segment">
            <div class="ui equal width stackable internally celled grid">
                <div class="center aligned row">
                    <div class="column">
                        <div class="ui horizontal statistic">
                            <div class="value">
                                {{ models }}
                            </div>
                            <div class="label">
                                {{ 'homepage.models.title' | trans }}
                            </div>
                        </div>
                        <p>{{ 'homepage.models.text' | trans | raw }}</p>
                        <a class="ui button big primary" href="{{ path('model_index') }}">{{ 'homepage.models.browse' | trans }}</a>
                    </div>
                    <div class="column">
                        <div class="ui horizontal statistic">
                            <div class="value">
                                {{ sets }}
                            </div>
                            <div class="label">
                                {{ 'homepage.sets.title' | trans }}
                            </div>
                        </div>
                        <p>{{ 'homepage.sets.text' | trans | raw }}</p>
                        <a class="ui button big primary" href="{{ path('set_index') }}">{{ 'homepage.sets.browse' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui black inverted vertical footer segment stripe">
            <div class="ui aligned container">
                <div class="ui horizontal inverted small divided link list">
                    <p>LEGO<sup>®</sup>, the LEGO logo, the Minifigure, and the Brick and Knob configurations are trademarks of the LEGO Group of Companies which does not sponsor, authorize, or endorse this site.</p>
                    Copyright © 2017 PrintABrick
                </div>
            </div>
        </div>

{% endblock %}

