{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(set) }}


    <div id="model" style="height: 300px; width: 300px; padding: 5px;"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('resources/js/three.js') }}"></script>

    <script type="text/javascript" src="{{ asset('resources/js/stats.js') }}"></script>

    <script type="text/javascript" src="{{ asset('resources/js/ModelViewer.js') }}"></script>
{% endblock %}
