{% extends 'base.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block title %}{{ entity.id }} | {{ entity.name }}{% endblock %}

{% block header %}{{ entity.name }}{% endblock %}

{% block meta %}
    {{ blocks.meta(
        entity.id~' '~entity.name,
        app.request.uri,
        'meta.description' | trans | striptags('sup'),
        asset('-1/'~entity.id~'.png') | imagine_filter('part_large')
    )}}
{% endblock %}

{% block content %}
    <div class="ui vertical segment {{ not entity.path ? 'grey inverted tertiary' : 'secondary'}}">
        <div class="ui container stackable grid">
            <div class="column ten wide">
                <div id="model-viewer" class="model-container">
                    {{ blocks.brickImage(entity.id,'part_large') }}
                    <span class="ui bottom attached label">{{ entity.type.name }}</span>
                </div>
            </div>
            <div class="column six wide">
                <div class="item-info ui">
                    <table class="ui very basic table">
                        <tr>
                            <td>{{ 'brick.id' | trans }}</td>
                            <td><h2>{{ entity.id }}</h2></td>
                        </tr>
                        <tr>
                            <td>{{ 'brick.name' | trans }}</td>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'brick.category' | trans }}</td>
                            <td>
                                {% if brick.category is defined and brick.category %}
                                    <a href="{{ path('brick_index',{'category':entity.category.id}) }}">{{ entity.category ? entity.category.name }}</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'brick.author' | trans }}</td><td>{{ entity.author ? entity.author.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'brick.license' | trans }}</td>
                            <td>
                                {{ blocks.ccal2_license(entity.name, entity.author ? entity.author.name) }}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a href="https://www.ldraw.org/parts/official-part-lookup.html?folder=parts&partid={{entity.id}}">LDraw</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'brick.modified' | trans }}</td><td>{{ entity.modified|date("d.m.Y") }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'brick.keywords' | trans }}</td>
                            <td>
                                <div class="ui grey labels">
                                    {% for keyword in entity.keywords %}
                                        <span class="ui label">{{ keyword.name }}</span>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    </table>
                    {% if entity.path %}
                        <form action="{{ path('brick_zip', {id: entity.id}) }}" method="get">
                            <input type="hidden" name="token" value="{{ csrf_token('download-brick') }}" />
                            <button class="ui download fluid primary button" type="submit" data-id="{{ entity.id }}" data-type="brick"><i class="download icon"></i> {{ 'brick.download'|trans }}</button>
                        </form>
                    {% else %}
                        <a class="ui disabled fluid primary button"><i class="download icon"></i> {{ 'brick.empty'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        {% set related = entity.children is not empty or entity.parents is not empty %}

        <div class="ui tabular pointing secondary menu stackable">
            <div class="container ui">
                {% if related %}
                    <a class="item {% if not app.request.get("page") %}active{% endif %}" data-tab="related">{{ 'brick.related' | trans }}</a>
                {% endif %}
{#                {% if setCount %}#}
{#                    <a class="item {% if app.request.get("page") or not related %}active{% endif %}" data-tab="sets">{{ 'brick.sets' | trans }} ({{ setCount }})</a>#}
{#                {% endif %}#}
            </div>
        </div>

        <div class="container ui">
            {% if related %}
                <div class="ui tab ajax-load {% if not app.request.get("page") %}active{%else %}ajax-load{% endif %}" data-tab="description" data-src="{{ path('brick_related', { 'id': entity.id }) }}">
                    {% if app.session.get('tab') != 'inventory/multicolor' %}
                        {{ render(path('brick_related', { 'id': entity.id })) }}
                    {% else %}
                        <div class="ui active centered inline loader"></div>
                    {% endif %}
                </div>
            {% endif %}
{#            {% if setCount %}#}
{#                <div class="ui tab {% if app.request.get("page") or not related %}active{%else %}ajax-load{% endif %}" data-tab="sets" data-src="{{ path('brick_sets', { 'id': entity.id, page: app.request.get('page') }) }}">#}
{#                    {% if app.session.get('tab') != 'inventory/multicolor' %}#}
{#                        {{ render(path('brick_sets', { 'id': entity.id, page: app.request.get('page') })) }}#}
{#                    {% else %}#}
{#                        <div class="ui active centered inline loader"></div>#}
{#                    {% endif %}#}
{#                </div>#}
{#            {% endif %}#}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if entity.path %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('#model-viewer').ModelViewer('{{ path('stl_file', {'path': entity.path, 'token': csrf_token('download-media')}) }}');
            });
        </script>
    {% endif %}
{% endblock %}