{% macro partImage(number, filter, color = -1) %}
    <div class="ui image load">
        {% if 'large' in filter %}
            {% set placeholder = asset("resources/images/transparent_large.png") %}
        {% else %}
            {% set placeholder = asset("resources/images/transparent_min.png") %}
        {% endif %}
        <img src="{{ placeholder }}" data-src="{{ asset(color~'/'~number~'.png') | imagine_filter(filter)}}">
    </div>
{% endmacro %}

{% macro setImage(number, filter) %}
    <div class="ui image load">
        {% if 'large' in filter %}
            {% set placeholder = asset("resources/images/transparent_large.png") %}
        {% else %}
            {% set placeholder = asset("resources/images/transparent_min.png") %}
        {% endif %}

        <img src="{{ placeholder }}"  data-src="{{ asset(number~'.jpg')|imagine_filter(filter) }}">
    </div>
{% endmacro %}

{% macro model(model, quantity = null, color = -1) %}
    <a class="column part" href="{{ url('model_detail', {'id': model.id})}}">
        <div class="ui card">
            {% import _self as blocks %}
            {{ blocks.partImage(model.id, 'part_min', color) }}
            <div class="content">
                <h3 class="header truncate">{{ model.id }}</h3>
                <div class="meta">
                    <span class="truncate-multiline"><small>{{ model.name }}</small></span>
                </div>
                <div class="description">
                    {% if quantity %}<div class="right floated">{{ quantity }}x</div>{% endif %}
                </div>
            </div>
        </div>
    </a>
{% endmacro %}

{% macro part(part, quantity = null, color = -1) %}
    <a class="column part" href="{{ url('reb_part_detail', {'id': part.id})}}">
        <div class="ui card">
            {% import _self as blocks %}
            {{ blocks.partImage(part.id,'part_min', color) }}
            <div class="content">
                <h3 class="header truncate">{{ part.id }}</h3>
                <div class="meta">
                    <span class="truncate-multiline"><small>{{ part.name }}</small></span>
                </div>
                <div class="description">
                    {% if quantity %}<div class="right floated">{{ quantity }}x</div>{% endif %}
                </div>
            </div>
        </div>
    </a>
{% endmacro %}

{% macro set(set, quantity = null) %}
    <a class="set column" href="{{ url('set_detail', {'id': set.id}) }}">
        <div class="ui card">
            {% import _self as blocks %}
            {{ blocks.setImage(set.id,'set_min') }}
            <div class="content">
                <h3 title="{{ set.name }}" class="header truncate">
                  {{ set.name }}
                </h3>
                <div class="meta">
                    <span class="left floated">{{ set.id }}</span>
                    <br>
                    <span title="{{ set.theme.fullName }}" class="left floated truncate"><small>{{ set.theme.fullName }}</small></span>
                </div>
                <div class="description">
                    <small>
                        <span class="right floated">{{ set.year }}</span>
                        <span>{{ set.partCount }} parts</span>
                    </small>
                </div>
            </div>
        </div>
    </a>
{% endmacro %}

{% macro empty(message) %}
    <p class="ui center aligned icon header"><i class="circular frown icon"></i>{{ message }}</p>
{% endmacro %}

{% macro ccal2_license(title,author) %}
    "{{ title }}" by {{ author }}, used under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> / Converted to stl from original
{% endmacro %}