{% macro partImage(number, filter, color = -1) %}
    {% if filter == 'part_large' %}
        {% set placeholder = asset("resources/images/unknown_large.png") %}
    {% else %}
        {% set placeholder = asset("resources/images/unknown.png") %}
    {% endif %}

    <div class="image load">
        <img src="{{ placeholder }}" data-src="{{ asset(color~'/'~number~'.png') | imagine_filter(filter)}}">
    </div>
{% endmacro %}

{% macro setImage(number, filter) %}
    <div class="image load">
        {% if filter == 'set_large' %}
            {% set placeholder = asset("resources/images/unknown_large.png") %}
        {% else %}
            {% set placeholder = asset("resources/images/unknown.png") %}
        {% endif %}

        <img src="{{ placeholder }}" data-src="{{ asset(number|lower~'.jpg')|imagine_filter(filter) }}">
    </div>
{% endmacro %}

{% macro model(model, quantity = null, color = -1) %}
    <a class="column part" href="{{ url('model_detail', {'number': model.number})}}">
        <div class="ui bordered fluid image">
            {% import _self as blocks %}
            {{ blocks.partImage(model.number, 'part_min', color) }}
            <div class="part-meta">
                <span class="quantity"></span> {% if quantity %}{{ quantity }}x{% endif %}<span class="number">{{ model.number }}</span>
                {#<span class="name">{{ model.name }}</span>#}
            </div>
        </div>
    </a>
{% endmacro %}

{% macro part(part, quantity = null, color = -1) %}
    <a class="column part" href="{{ url('reb_part_detail', {'number': part.number})}}">
        <div class="ui bordered fluid image">
            {% import _self as blocks %}
            {{ blocks.partImage(part.number,'part_min', color) }}
            <div class="part-meta">
                <span class="quantity"></span> {% if quantity %}{{ quantity }}x{% endif %}<span class="number">{{ part.number }}</span>
            </div>
        </div>
    </a>
{% endmacro %}

{% macro set(set) %}
    <div class="column">
        <a href="{{ url('set_detail', {'number': set.number}) }}">
            <div class="ui bordered fluid image">
                {% import _self as blocks %}
                {{ blocks.setImage(set.number,'set_min') }}
            </div>
            <div class="set-meta">
                <p>{{ set.number }}</p>
                <p>{{ set.name }}</p>
            </div>
        </a>
    </div>
{% endmacro %}

{% macro empty(message) %}
    <p class="ui center aligned icon header"><i class="circular frown icon"></i>{{ message }}</p>
{% endmacro %}

{% macro ccal2_license(title,author) %}
    "{{ title }}" by {{ author }}, used under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> / Converted to stl from original
{% endmacro %}

