{% import 'macros/blocks.html.twig' as blocks %}
{% import 'macros/elements.html.twig' as elements %}

{% block content %}
    <div class="ui segment vertical">
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {{ elements.flash(label,flash) }}
        {% endfor %}
    {% endfor %}

    {% if inventorySets %}
        <h2 class="ui dividing header">Sets</h2>
        <div class="ui eight column doubling grid sets">
            {% for inventorySet in inventorySets %}
                {{ blocks.set(inventorySet.set, inventorySet.quantity) }}
            {% endfor %}
        </div>
    {% else %}
        {% if missingCount > 0 %}
            <div class="ui warning icon message">
                <i class="warning icon"></i>
                <div class="content">
                    <div class="header">
                        {{ 'set.download.warning.title' | trans }}
                    </div>
                    <p> {{ 'set.download.warning.text' | trans({'%percent%':((1 - missingCount/partCount)*100)|number_format(2, '.', ','), '%total%':partCount, '%missing%': missingCount, '%unique%': missing|length}) | raw | nl2br }}</p>
                </div>
            </div>
        {% endif %}

        <div class="ui top attached tabular menu submenu">
            <a class="ui item setTab {% if app.session.get('tab') != 'inventory/multicolor' %}active{%  endif %}" data-tab="inventory/unicolor"><i class="grid layout icon"></i> Uni-Color</a>
            <a class="ui item setTab {% if app.session.get('tab') == 'inventory/multicolor' %}active{%  endif %}" data-tab="inventory/multicolor"><i class="list layout icon"></i> Multi-Color</a>
        </div>

        <div class="ui bottom attached tab {% if app.session.get('tab') != 'inventory/multicolor' %}active{%  endif %}" data-tab="inventory/unicolor">
            {{ render(path('set_models', {id: set.id})) }}
        </div>
        <div class="ui bottom attached tab {% if app.session.get('tab') == 'inventory/multicolor' %}active{%  endif %}" data-tab="inventory/multicolor">
            {{ render(path('set_colors', {id: set.id})) }}
        </div>
    {% endif %}
    </div>
    <div class="ui segment vertical">
        <p class="ui text right">{{ 'set.rebrickable.credit' | trans | raw }}</p>
    </div>
{% endblock %}