{% import 'macros/blocks.html.twig' as blocks %}
{% import 'macros/elements.html.twig' as elements %}

{% block content %}
    <div class="ui segment clearing basic vertical">
        <form action="{{ path('set_zip', {id: set.id }) }}" method="post">
            <input type="hidden" name="token" value="{{ csrf_token('download-set') }}" />
            <input type="hidden" name="sorted" value="false" />
            <button class="ui primary right floated button" type="submit" ><i class="download icon"></i> {{ 'set.download.unicolor.button' | trans}}</button>
        </form>
    </div>

    {% if models|length > 0 %}
        <div class="ui segment vertical basic">
            <h2 class="ui dividing header">{{ 'set.inventory.models' | trans }}</h2>
            <div class="ui grid doubling ten column row parts">
                {% for model in models %}
                    {{ blocks.brick(model['model'],model['quantity']) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}