{% extends 'base.html.twig' %}

{% import 'macros/elements.html.twig' as elements %}

{% block content %}
    <dl>
        <dt>number:</dt><dd>{{ part.number }}</dd>
        <dt>name:</dt><dd>{{ part.name }}</dd>
        <dt>category:</dt><dd>{{ part.category ? part.category.name }}</dd>
    </dl>


    {% if apiPart is not null %}
        <a href="{{ apiPart.url }}">Rebrickable</a>

        <img class="image ui middle" src="{{ apiPart.imgUrl }}"  style="max-height: 90%; max-width: 100%">
    {% endif %}

    {% if part.model %}
        {{ elements.part(part.model) }}
    {% endif %}

    <h4 class="ui horizontal divider header">
        <i class="puzzle icon"></i> Sets
    </h4>

    <div class="ui eight column grid">
    {% for set in sets %}
        <div class="column">
            <div class="ui fluid bordered image">
                <a href="{{ url('set_detail', {number:set.number}) }}">
                    <img class="ui bordered image" src="{{ set|setImage|imagine_filter('rebrickable_set_min') }}">
                    <div class="ui bottom attached label">{{ set.number }}<br></div>
                </a>
            </div>
        </div>
    {% endfor %}
    <div>

    {{ dump(apiPart) }}

{% endblock %}
