{% extends 'base.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block header %}{{ part.name }}{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="column ten wide">
            <div id="model-viewer" class="model-container">
                {{ blocks.partImage(part.id,'part_large') }}
            </div>
        </div>
        <div class="column six wide">
            <div class="item-info ui">
                <table class="ui very basic table">
                    <tr>
                        <td>{{ 'part.id' | trans }}</td><td><h2>{{ part.id}}</h2></td>
                    </tr>
                    <tr>
                        <td>{{ 'part.name' | trans }}</td><td>{{ part.name}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'part.category' | trans }}</td><td>{{ part.category ? part.category.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'part.model' | trans }}</td>
                        <td>
                            {% if part.model %}
                                <a href="{{ url('model_detail', {'id': part.model.id})}}">{{ part.model.id }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% if apiPart %}
                        <tr>
                            <td>{{ 'part.alternates' | trans }}</td>
                            <td>
                                {% for alternate in apiPart.alternates %}
                                    <a href="{{ url('reb_part_detail', {'id': alternate})}}">{{ alternate }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'part.molds' | trans }}</td>
                            <td>
                                {% for mold in apiPart.molds %}
                                    <a href="{{ url('reb_part_detail', {'id': mold})}}">{{ mold }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ 'part.prints' | trans }}</td>
                            <td>
                                {% for mold in apiPart.prints %}
                                    <a href="{{ url('reb_part_detail', {'id': mold})}}">{{ mold }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a class="rebrickable link" href="{{ apiPart.url }}">Rebrickable</a></td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

    {#<div class="segment ui vertical">#}
        {#<h4 class="ui horizontal divider header">#}
            {#<i class="puzzle icon"></i> Sets#}
        {#</h4>#}

        {#<div class="ui eight column grid">#}
            {#{% for set in sets %}#}
                {#{{ blocks.set(set) }}#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}

{% endblock %}
