{% extends 'base.html.twig' %}

{% block content %}

    <div class="ui seven column grid">
        <div class="row">
            {% for part in parts %}
                <div class="column">
                    <div class="ui fluid bordered image">
                        <a href="{{ path('reb_part_detail', {number: part.number}) }}">
                            <div class="image load">
                                <img src="{{ part.number|partImage(-1)| imagine_filter('rebrickable_part_min') }}" data-src="{{ part.number|partImage(-1)| imagine_filter('rebrickable_part_min') }}" class="transition visible">
                            </div>
                            <div class="ui bottom attached label {{ part.model == null ? 'black' : 'red'}}">{{ part.number }}</div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <p>{{ parts.getTotalItemCount }}</p>

    {{ knp_pagination_render(parts) }}
{% endblock %}
