{% macro brickImage(number, filter, color = -1) %}
    <div class="ui image load">
        {% if 'large' in filter %}
            {% set placeholder = asset("build/images/transparent_large.png") %}
        {% else %}
            {% set placeholder = asset("build/images/transparent_min.png") %}
        {% endif %}

        <img src="{{ placeholder }}"
             data-src="{{ asset(color~'/'~number~'.jpg') | imagine_filter(filter) }}"
             alt="{{ 'part.image.alt'|trans({'%number%':number}) }}">
    </div>
{% endmacro %}

{% macro setImage(number, filter) %}
    <div class="ui image load">
        {% if 'large' in filter %}
            {% set placeholder = asset("build/images/transparent_large.png") %}
        {% else %}
            {% set placeholder = asset("build/images/transparent_min.png") %}
        {% endif %}

        <img src="{{ placeholder }}"
             data-src="{{ asset(number~'.jpg')|imagine_filter(filter) }}"
             alt="{{ 'set.image.alt'|trans({'%number%':number}) }}">
    </div>
{% endmacro %}

{% macro brick(brick, quantity = null, color = -1, type = null) %}
    {% if brick is instanceof('App\\Entity\\LDraw\\Model') and brick.aliasOf('A') is not empty %}
        <div class="column part" title="{{ brick.id }} - {{ brick.name }}">
    {% else %}
        <a class="column part" href="{{ url('brick_detail', {'id': brick.id})}}" title="{{ brick.id }} - {{ brick.name }}">
    {% endif %}
        <div class="ui card {% if brick.model is defined and not brick.model %}grey{% endif %}">
            {% import _self as blocks %}
            {% if brick is instanceof('App\\Entity\\LDraw\\Model') and brick.aliasOf('A') is not empty %}
                {{ blocks.brickImage((brick.aliasOf('A')|first).id, 'part_min', color, type) }}
            {% else %}
                {{ blocks.brickImage(brick.id, 'part_min', color, type) }}
            {% endif %}

            <div class="content">
                <h3 class="header truncate">{{ brick.id }}</h3>
                <div class="meta">
                    {% if brick.name is defined and not null %}
                        <span class="truncate-multiline"><small>{{ brick.name }}</small></span>
                    {% endif %}
                </div>
                <div class="description">
                    {% if brick.category is defined and brick.category %}
                        <span><small>{{ brick.category.name }}</small></span>
                    {% endif %}
                    {% if quantity %}<div class="right floated">{{ quantity }}x</div>{% endif %}
                </div>
            </div>
            {% if type %}
                <span class="ui top right attached label small">{{ type }}</span>
            {% endif %}
        </div>
    {% if brick is not instanceof('App\\Entity\\LDraw\\Model') or brick.aliasOf('A') is empty %}
        </a>
    {% else %}
        </div>
    {% endif %}

{% endmacro %}

{% macro set(set, quantity = null) %}
    <a class="set column" href="{{ url('set_detail', {'id': set.id}) }}">
        <div class="ui card">
            {% import _self as blocks %}
            {{ blocks.setImage(set.id,'set_min') }}
            <div class="content">
                <h3 title="{{ set.name }}" class="header truncate">
                    {{ set.name }}
                </h3>
                <div class="meta">
                    <span title="{{ set.id }}" class="left truncate">{{ set.id }}</span>
                    <br>
                    {% if set.theme is not null %}
                        <span title="{{ set.theme.fullName }}" class="left floated truncate"><small>{{ set.theme.fullName }}</small></span>
                    {% endif %}
                </div>
                <div class="description">
                    <small>
                        <span class="right floated">{{ set.year }}</span>
                        <span>{{ set.partCount }} parts</span>
                    </small>
                </div>
            </div>
            {% if quantity %}
                <div class="extra content">
                    <div class="right floated">{{ quantity }}x</div>
                </div>
            {% endif %}
        </div>
    </a>
{% endmacro %}

{% macro empty(title, message = null) %}
    <h3 class="ui center aligned icon header empty">
        <i class="circular frown icon"></i>
        <div class="content">
            {{ title }}
            {% if message %}
                <div class="sub header">{{ message }}</div>
            {% endif %}
        </div>
    </h3>
{% endmacro %}

{% macro ccal2_license(title,author) %}
    "{{ title }}" by {{ author }}, used under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> / Converted to stl from original
{% endmacro %}

{% macro meta(title, url, description, image, imageHeight = 600, imageWidth = 900) %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:image:width" content="{{ imageWidth }}">
    <meta property="og:image:height" content="{{ imageHeight }}">
    <meta property="og:site_name" content="{{ name }}">

    <meta property="twitter:card" content="summary">
{% endmacro %}