{% extends 'base.html.twig' %}

{% block title %}{{ 'page.color' | trans }}{% endblock %}

{% block header %}{{ 'page.color' | trans }}{% endblock %}

{% block content %}

<h4 class="ui horizontal divider header">Solid</h4>

<table class="ui celled small padded table">
    <thead>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>RGB</th>
        <th>Material</th>
    </tr>
    </thead>
    <tbody>
    {% for color in colors if not color.transparent%}
    <tr>
        <td style="background-color: #{{ color.rgb }}"></td>
        <td>{{ color.id }}</td>
        <td>{{ color.name }}</td>
        <td>#{{ color.rgb }}</td>
        <td>{{ color.transparent ? 'Transparent' : 'Solid' }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h4 class="ui horizontal divider header">Transparent</h4>

<table class="ui celled small padded table">
    <thead>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>RGB</th>
        <th>Material</th>
    </tr>
    </thead>
    <tbody>
    {% for color in colors if color.transparent%}
        <tr>
            <td style="background-color: #{{ color.rgb }}"></td>
            <td>{{ color.id }}</td>
            <td>{{ color.name }}</td>
            <td>#{{ color.rgb }}</td>
            <td>{{ color.transparent ? 'Transparent' : 'Solid' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
