{% extends 'base.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block title %}{{ model.id }} - {{ model.name }}{% endblock %}

{% block header %}{{ model.name }}{% endblock %}

{% block content %}
    <div class="ui stackable grid">
        <div class="column ten wide">
            <div id="model-viewer" class="model-container">
                {{ blocks.partImage(model.id,'part_large') }}
            </div>
        </div>
        <div class="column six wide">
            <div class="item-info ui">
                <table class="ui very basic table">
                    <tr>
                        <td>{{ 'model.id' | trans }}</td>
                        <td><h2>{{ model.id }}</h2></td>
                    </tr>
                    <tr>
                        <td>{{ 'model.category' | trans }}</td>
                        <td><a href="{{ path('model_index',{'m[category]':model.category.id}) }}">{{ model.category ? model.category.name }}</a></td>
                    </tr>
                    <tr>
                        <td>{{ 'model.author' | trans }}</td><td>{{ model.author.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'model.set.count' | trans }}</td><td>{{ sets|length }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'model.license' | trans }}</td>
                        <td>
                            {{ blocks.ccal2_license(model.name,model.author.name) }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'model.keywords' | trans }}</td>
                        <td>
                            <div class="ui grey labels">
                                {% for keyword in model.keywords %}
                                    <span class="ui label">{{ keyword.name }}</span>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% if model.aliases|length %}
                        <tr>
                            <td>{{ 'model.aliases' | trans }}</td>
                            <td>
                                {% for alias in model.aliases | slice(0,20)%}
                                    <span>{{ alias.id }}</span>{%  if not loop.last %},{% endif %}
                                {% endfor %}
                                {% if model.aliases|length > 20 %}&hellip;{% endif %}
                            </td>
                        </tr>
                    {% endif %}
                </table>

                <a class="ui download fluid primary button" href="{{ path('model_zip', {id: model.id}) }}">{{ 'model.download'|trans }}</a>
            </div>
        </div>
    </div>

    <div class="ui segment vertical">
        {% if subparts|length %}
        <div class="ui segment vertical noborder">
            <h4 class="ui horizontal divider header">Submodels ({{ model.subparts|length }})</h4>
            <div class="ui grid doubling ten column row parts">
                {% for subpart in subparts %}
                    {{ blocks.model(subpart['model'], subpart['quantity']) }}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if related|length  %}
        <div class="ui segment vertical noborder">
            <h4 class="ui horizontal divider header">Related models ({{ related|length }})</h4>
            <div class="ui grid doubling ten column row parts">
                {% for model in related  %}
                    {{ blocks.model(model) }}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if model.parents|length  %}
        <div class="ui segment vertical noborder">
            <h4 class="ui horizontal divider header">Parent models ({{ model.parents|length }})</h4>
            <div class="ui grid doubling ten column row parts">
                {% for subpart in model.parents  %}
                    {{ blocks.model(subpart.parent) }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.onload = function() {
            $('#model-viewer').ModelViewer('{{ url('media_file', {'path': model.path }) }}');
        };
    </script>
{% endblock %}