{% extends 'base.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block title %}{{ 'page.model.index' | trans }}{% endblock %}

{% block header %}{{ 'page.model.index' | trans }}{% endblock %}

{% block content %}
    <div class="ui container divided stackable grid">
        <div class="row">
            <div class="column four wide">
                <h3>{{ 'model.filter.title' | trans }}</h3>
                {#<form method="get" action="" class="ui form">#}
                {{ form_start(form) }}

                {{ form_rest(form) }}
                <div class="field">
                    <input class="ui fluid submit button" type="submit" value="Filter"/>
                </div>
                {{ form_end(form) }}
                {#</form>#}
            </div>
            <div class="column twelve wide">
                <div class="ui header vertical noborder">
                    <div class="ui text menu right floated">
                        <div class="header item">Sort By</div>
                        {{ knp_pagination_sortable(models, 'Number', 'm.id', {'class':'item'}) }}
                        {{ knp_pagination_sortable(models, 'Name', ['m.name'], {'class':'item'}) }}
                    </div>
                    <div class="found-count ui text menu">
                        <div class="header item">Showing</div>
                        <span class="item">{{ models.getTotalItemCount }}</span>
                    </div>
                </div>

                <div class="ui segment vertical noborder">
                    <div class="ui six column doubling grid">
                        {% for model in models %}
                            {{ blocks.model(model) }}
                        {% else %}
                            {{ blocks.empty('empty.models') }}
                        {% endfor %}
                    </div>
                </div>
                <div class="ui column vertical segment noborder">
                    {{ knp_pagination_render(models) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
