{% extends 'base.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block title %}{{ 'page.model.index' | trans }}{% endblock %}

{% block header %}{{ 'page.model.index' | trans }}{% endblock %}

{% block content %}
    <div class="ui container divided stackable grid">
        <div class="row">
            <div class="column four wide">
                <form method="get" action="" class="ui form">
                    {{ form_start(form) }}

                    {{ form_row(form.search) }}
                    <div class="field fluid search selection">
                        {{ form_label(form.category.id) }}
                        {{ form_widget(form.category.id)}}
                    </div>
                    <div class="field">
                        <input class="ui submit button" type="submit" value="filter"/>
                    </div>
                    {{ form_end(form) }}
                </form>
            </div>
            <div class="column twelve wide">
                <div class="ui six column doubling grid">
                    {% for model in models %}
                        {{ blocks.model(model) }}
                    {% endfor %}
                </div>

                <div class="ui column vertical segment noborder">
                    {{ knp_pagination_render(models) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
