{% extends 'base.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block title %}{{ 'page.search' | trans({'%query%':query}) }}{% endblock %}

{% block header %}{{ 'page.search' | trans({'%query%':query}) }}{% endblock %}

{% block content %}
    <div class="ui vertical segment alternate stripe">
        <div class="ui container">
            <h2 class="ui header">Sets <small>({{ sets.totalHits }})</small></h2>
            <div class="ui eight column doubling grid sets">
                {% for set in sets.results(0,8).toArray %}
                    {{ blocks.set(set) }}
                {% else %}
                    {{ blocks.empty('empty.sets.title' | trans ) }}
                {% endfor %}
            </div>
            <div class="spacing top">
                <a class="show all" href="{{ path('set_index',{'query':query}) }}">{{ 'view.all.sets' | trans }}</a>
            </div>
        </div>
    </div>

    <div class="ui vertical segment">
        <div class="ui container">
            <h2 class="ui header">Models <small>({{ models.totalHits }})</small></h2>
            <div class="ui eight column doubling grid parts">
                {% for model in models.results(0,8).toArray %}
                    {{ blocks.brick(model) }}
                {% else %}
                    {{ blocks.empty('empty.models.title' | trans ) }}
                {% endfor %}
            </div>
            <div class="spacing top">
                <a class="show all" href="{{ path('brick_index',{'query':query}) }}">{{ 'view.all.models' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}