{% import 'macros/blocks.html.twig' as blocks %}
{% import 'macros/elements.html.twig' as elements %}

{% block content %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {{ elements.flash(label,flash) }}
        {% endfor %}
    {% endfor %}

    <div class="ui segment clearing basic vertical">
        <a class="ui primary right floated button" href="{{ path('set_zip', {id: set.id, sorted: true }) }}" download><i class="download icon"></i> {{ 'set.download.multicolor.button' | trans}}</a>
    </div>

    {% if colors|length > 0 %}
        <div class="ui segment vertical basic">
            <h2 class="ui dividing header">{{ 'set.inventory.models' | trans }}</h2>
            {% for color in colors %}
                <div class="ui segment vertical basic side color-{{ color['color'].id }}">
                    <h5 class="ui header">
                        {{ color['color'].name }} - #{{ color['color'].rgb }} ({{ color['quantity'] }})
                    </h5>
                    <div class="ui grid doubling ten column row parts">
                        {% for model in color['models'] %}
                            {{ blocks.model(model['model'],model['quantity'], color['color'].id) }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if missing|length > 0 %}
        <div class="ui vertical segment basic">
            <h2 class="ui dividing header">{{ 'set.inventory.parts' | trans }}</h2>
            <div class="ui grid doubling ten column row parts">
                {% for part in missing %}
                    {{ blocks.part(part['part'],part['quantity']) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
