{% import 'macros/blocks.html.twig' as blocks %}
{% import 'macros/elements.html.twig' as elements %}

{% block content %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {{ elements.flash(label,flash) }}
        {% endfor %}
    {% endfor %}

    <div class="ui segment clearing noborder vertical">
         <a class="ui primary right floated button" href="{{ path('set_zip', {id: set.id, sorted: false }) }}" download>{{ 'set.download.unicolor.button' | trans}}</a>
    </div>

    {% if models|length > 0 %}
        <div class="ui segment vertical noborder">
            <h3 class="ui horizontal divider header">Models</h3>
            <div class="ui grid doubling ten column row parts">
                {% for model in models %}
                    {{ blocks.model(model['model'],model['quantity']) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if missing|length > 0 %}
        <div class="ui segment vertical noborder">
            <h3 class="ui horizontal divider header">Missing</h3>
            <div class="ui grid doubling ten column row parts">
                {% for part in missing %}
                    {{ blocks.part(part['part'],part['quantity']) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}