{% extends 'base.html.twig' %}

{% block content %}

    {{ form_start(form) }}
    <div class="four fields">
        {{ form_row(form.theme) }}
        {{ form_row(form.subtheme) }}
        {{ form_row(form.years) }}
        <div class="field">
            <label>submit</label>
            <input type="submit" class="ui button">
        </div>
    </div>
    {{ form_end(form) }}

    <div class="ui seven column grid">
        <div class="row">
            {% for set in sets %}
                <div class="column">
                   <a href="{{ url('set_detail', {'number': set.number~'-'~set.numberVariant, 'name' : set.name|escape('url') }) }}">
                       <img style="width: 100%" src="{{ set.largeThumbnailURL }}">
                       <p>{{ set.LegoSetID }} - {{ set.name }}</p>
                   </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        var $theme = $('#filter_set_theme');

        $theme.change(function() {
            var $form = $(this).closest('form');
            var data = {};
            data[$theme.attr('name')] = $theme.val();
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#filter_set_subtheme').replaceWith(
                            $(html).find('#filter_set_subtheme')
                    );
                    $('#filter_set_years').replaceWith(
                            $(html).find('#filter_set_years')
                    );
                }
            });
        });
    </script>
{% endblock %}