{% import 'macros/blocks.html.twig' as blocks %}
{% import 'macros/elements.html.twig' as elements %}

{% block content %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {{ elements.flash(label,flash) }}
        {% endfor %}
    {% endfor %}

    {% if images|length %}
        <div class="ui segment vertical">
            <div class="ui six doubling cards">
                {% for image in images %}
                    <div class="card">
                        <a class="ui bordered fluid image" href="{{ image.imageURL }}" data-lightbox="setImages">
                            <img src="{{ image.thumbnailURL }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="ui segment vertical">
            <p class="ui text right">{{ 'set.brickset.credit' | trans | raw }}</p>
        </div>
    {% else %}
        {{ blocks.empty('empty.images.title'|trans, 'empty.images.message'|trans) }}
    {% endif %}
{% endblock %}