{% import 'macros/blocks.html.twig' as blocks %}
{% import 'macros/elements.html.twig' as elements %}

{% block content %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {{ elements.flash(label,flash) }}
        {% endfor %}
    {% endfor %}

    {% if instructions|length != 0 %}
        <div class="ui segment vertical">
            <p><cite>{{ 'set.instructions.text' | trans | raw | nl2br }}</cite></p>

            <table class="ui celled padded table">
                <thead>
                <tr>
                    <th>{{ 'set.instructions.description' | trans }}</th>
                    <th>{{ 'set.instructions.filesize' | trans }}</th>
                    <th>{{ 'set.instructions.filename' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for instruction in instructions %}
                    <tr>
                        <td>{{ instruction.description }}</td>
                        <td>{{ remoteSize(instruction.uRL) | bytesToSize }}</td>
                        <td><a href="{{ instruction.uRL }}">{{ remoteFilename(instruction.uRL) }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="ui segment vertical">
            <p class="ui text right">{{ 'set.brickset.credit' | trans | raw }}</p>
        </div>
    {% else %}
        {{ blocks.empty('empty.instructions.title'|trans, 'empty.instructions.message'|trans) }}
    {% endif %}
{% endblock %}