{% extends 'ajax.html.twig' %}

{% block content %}
    {% if reviews|length != 0 %}
        <div class="ui comments">
            {% for review in reviews %}
                <div class="comment">
                    <a class="avatar">

                    </a>
                    <div class="content">
                        <div class="header">
                            <h2>{{ review.title }}</h2>
                        </div>
                        <span class="author">{{ review.author }}</span>
                        <div class="metadata">
                            <span class="date">{{ review.datePosted|date("Y.m.d H:m:i")}}</span>

                        </div>
                        <div class="text">
                            {% if review.hTML %}
                                {{ review.review|raw }}
                            {% else %}
                                <p>{{ review.review }}</p>
                            {% endif %}
                        </div>
                        <div>
                            Overall rating <div class="ui star rating" data-rating="{{ review.overallRating }}" data-max-rating="5"></div>
                            Value for money <div class="ui star rating" data-rating="{{ review.valueForMoney }}" data-max-rating="5"></div>
                            Playability <div class="ui star rating" data-rating="{{ review.playability }}" data-max-rating="5"></div>
                            Parts <div class="ui star rating" data-rating="{{ review.parts }}" data-max-rating="5"></div>
                            Building experience <div class="ui star rating" data-rating="{{ review.buildingExperience }}" data-max-rating="5"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ blocks.empty('empty.reviews') }}
    {% endif %}
{% endblock %}