{% extends 'base.html.twig' %}

{% block title %}{{ 'page.color' | trans }}{% endblock %}

{% block header %}{{ 'page.color' | trans }}{% endblock %}

{% block content %}

    <div class="ui vertical segment alternate stripe">
        <div class="ui container">
            <h2 class="header">Solid</h2>

            <table class="ui celled small padded table">
                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>RGB</th>
                    <th>Material</th>
                </tr>
                </thead>
                <tbody>
                {% for color in colors if not color.transparent%}
                    <tr>
                        <td style="background-color: #{{ color.rgb }}"></td>
                        <td>{{ color.id }}</td>
                        <td>{{ color.name }}</td>
                        <td>#{{ color.rgb }}</td>
                        <td>{{ color.transparent ? 'Transparent' : 'Solid' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="ui vertical segment">
        <div class="ui container">
            <h2 class="header">Transparent</h2>

            <table class="ui celled small padded table">
                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>RGB</th>
                    <th>Material</th>
                </tr>
                </thead>
                <tbody>
                {% for color in colors if color.transparent%}
                    <tr>
                        <td style="background-color: #{{ color.rgb }}"></td>
                        <td>{{ color.id }}</td>
                        <td>{{ color.name }}</td>
                        <td>#{{ color.rgb }}</td>
                        <td>{{ color.transparent ? 'Transparent' : 'Solid' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
