{% extends 'base.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block title %}{{ 'page.search' | trans({'%query%':query}) }}{% endblock %}

{% block header %}{{ 'page.search' | trans({'%query%':query}) }}{% endblock %}

{% block content %}


    <div class="ui vertical segment noborder">
        <h3 class="ui dividing header">Sets</h3>
        <div class="ui eight column doubling grid sets">
            {% for set in sets %}
                {{ blocks.set(set) }}
            {% endfor %}
        </div>
        <a href="{{ path('set_index',{'s[query]':query}) }}">Show more</a>
    </div>


    <div class="ui vertical segment noborder">
        <h3 class="ui dividing header">Models</h3>
        <div class="ui eight column doubling grid parts">
            {% for model in models %}
                {{ blocks.model(model) }}
            {% endfor %}
        </div>
        <a href="{{ path('model_index',{'m[query]':query}) }}">Show more</a>
    </div>
{% endblock %}