{% extends 'base.html.twig' %}

{% import 'macros/blocks.html.twig' as blocks %}

{% block title %}{{ 'page.search' | trans({'%query%':query}) }}{% endblock %}

{% block header %}{{ 'page.search' | trans({'%query%':query}) }}{% endblock %}

{% block content %}
    <div class="ui vertical segment alternate stripe">
        <div class="ui container">
            <h2 class="ui header">Sets <small>({{ sets | length }})</small></h2>
            <div class="ui eight column doubling grid sets">
                {% for set in sets | slice(0,8) %}
                    {{ blocks.set(set) }}
                {% endfor %}
            </div>
            <div class="spacing top">
                <a class="show all" href="{{ path('set_index',{'query':query}) }}">{{ 'view.all.sets' | trans }}</a>
            </div>
        </div>
    </div>

    <div class="ui vertical segment">
        <div class="ui container">
            <h2 class="ui header">Models <small>({{ models | length }})</small></h2>
            <div class="ui eight column doubling grid parts">
                {% for model in models | slice(0,8) %}
                    {{ blocks.model(model) }}
                {% endfor %}
            </div>
            <div class="spacing top">
                <a class="show all" href="{{ path('model_index',{'query':query}) }}">{{ 'view.all.models' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}